# **날씨 빅데이터 콘테스트**

# Data loading

In [13]:
import pandas as pd
import numpy as np
from statsmodels.stats.outliers_influence import variance_inflation_factor
from statsmodels.tools.tools import add_constant

import os

# 기상데이터

In [14]:
data_call119 = pd.read_csv('call119_train.csv')
data_call119

,Unnamed: 0,call119_train.tm,call119_train.address_city,call119_train.address_gu,call119_train.sub_address,call119_train.stn,call119_train.ta_max,call119_train.ta_min,call119_train.ta_max_min,call119_train.hm_min,call119_train.hm_max,call119_train.ws_max,call119_train.ws_ins_max,call119_train.rn_day,call119_train.call_count
0,1,20200501,부산광역시,강서구,대저2동,904,23.7,16.6,7.1,63.2,90.3,5.8,10.6,0.0,1
1,2,20200501,부산광역시,강서구,천성동,921,24.3,15.4,8.9,64.2,96.4,4.8,8.6,0.0,1
2,3,20200501,부산광역시,금정구,금사동,940,25.6,17.2,8.4,46.6,76.4,4.8,8.3,0.0,1
3,4,20200501,부산광역시,금정구,금성동,941,25.3,17.1,8.2,-99.0,-99.0,7.1,9.7,0.0,1
4,5,20200501,부산광역시,금정구,남산동,939,26.5,16.7,9.8,-99.0,-99.0,5.7,8.1,0.0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42919,42920,20231031,부산광역시,해운대구,반송동,937,26.3,8.8,17.5,20.2,97.4,4.6,8.4,0.0,2
42920,42921,20231031,부산광역시,해운대구,반여동,937,26.3,8.8,17.5,20.2,97.4,4.6,8.4,0.0,2
42921,42922,20231031,부산광역시,해운대구,석대동,940,24.5,10.0,14.5,20.4,94.0,2.4,6.1,0.0,1
42922,42923,20231031,부산광역시,해운대구,송정동,937,26.3,8.8,17.5,20.2,97.4,4.6,8.4,0.0,1
42923,42924,20231031,부산광역시,해운대구,재송동,937,26.3,8.8,17.5,20.2,97.4,4.6,8.4,0.0,1

In [15]:
# Index 열 (첫번째) 제거
data_call119 = data_call119.drop('Unnamed: 0', axis=1)
data_call119

,call119_train.tm,call119_train.address_city,call119_train.address_gu,call119_train.sub_address,call119_train.stn,call119_train.ta_max,call119_train.ta_min,call119_train.ta_max_min,call119_train.hm_min,call119_train.hm_max,call119_train.ws_max,call119_train.ws_ins_max,call119_train.rn_day,call119_train.call_count
0,20200501,부산광역시,강서구,대저2동,904,23.7,16.6,7.1,63.2,90.3,5.8,10.6,0.0,1
1,20200501,부산광역시,강서구,천성동,921,24.3,15.4,8.9,64.2,96.4,4.8,8.6,0.0,1
2,20200501,부산광역시,금정구,금사동,940,25.6,17.2,8.4,46.6,76.4,4.8,8.3,0.0,1
3,20200501,부산광역시,금정구,금성동,941,25.3,17.1,8.2,-99.0,-99.0,7.1,9.7,0.0,1
4,20200501,부산광역시,금정구,남산동,939,26.5,16.7,9.8,-99.0,-99.0,5.7,8.1,0.0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42919,20231031,부산광역시,해운대구,반송동,937,26.3,8.8,17.5,20.2,97.4,4.6,8.4,0.0,2
42920,20231031,부산광역시,해운대구,반여동,937,26.3,8.8,17.5,20.2,97.4,4.6,8.4,0.0,2
42921,20231031,부산광역시,해운대구,석대동,940,24.5,10.0,14.5,20.4,94.0,2.4,6.1,0.0,1
42922,20231031,부산광역시,해운대구,송정동,937,26.3,8.8,17.5,20.2,97.4,4.6,8.4,0.0,1
42923,20231031,부산광역시,해운대구,재송동,937,26.3,8.8,17.5,20.2,97.4,4.6,8.4,0.0,1

In [16]:
data_call119['call119_train.call_count'].sum()

82275

In [17]:
test_call119 = pd.read_csv('test_call119.csv', encoding='cp949')

# test_call119['call_count'] = test_call119['call_count'].fillna(0) # 추후 nan을 포함한 행을 제거할 때 데이터가 삭제되지 않도록 call_count의 nan을 0으로 변환환
test_call119

,TM,address_city,address_gu,sub_address,STN,ta_max,ta_min,ta_max_min,hm_min,hm_max,ws_max,ws_ins_max,rn_day,call_count
0,20240501,부산광역시,강서구,대저2동,904,18.5,11.1,7.4,42.5,82.5,6.5,11.6,0.0,NaN
1,20240501,부산광역시,강서구,생곡동,904,18.5,11.1,7.4,42.5,82.5,6.5,11.6,0.0,NaN
2,20240501,부산광역시,강서구,송정동,937,16.9,9.9,7.0,55.3,93.9,4.5,9.7,0.0,NaN
3,20240501,부산광역시,강서구,신호동,950,16.6,11.4,5.2,48.1,84.6,6.4,13.5,0.0,NaN
4,20240501,부산광역시,금정구,구서동,940,16.9,10.2,6.7,46.8,91.3,3.3,8.7,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9596,20241031,부산광역시,영도구,청학동,159,23.2,16.0,7.2,53.5,72.6,4.3,8.0,0.0,NaN
9597,20241031,부산광역시,중구,중앙동,159,23.2,16.0,7.2,53.5,72.6,4.3,8.0,0.0,NaN
9598,20241031,부산광역시,해운대구,반여동,937,25.4,14.8,10.6,52.9,86.6,2.6,6.1,0.0,NaN
9599,20241031,부산광역시,해운대구,우동,937,25.4,14.8,10.6,52.9,86.6,2.6,6.1,0.0,NaN
9600,20241031,부산광역시,해운대구,좌동,937,25.4,14.8,10.6,52.9,86.6,2.6,6.1,0.0,NaN

In [18]:
# 전처리를 위해 train과 test 파일을 병합합
test_call119.columns = data_call119.columns # df1의 열 이름을 기준으로 df2도 맞춤

combined_df_call119 = pd.concat([data_call119, test_call119], axis=0, ignore_index=True)
combined_df_call119

,call119_train.tm,call119_train.address_city,call119_train.address_gu,call119_train.sub_address,call119_train.stn,call119_train.ta_max,call119_train.ta_min,call119_train.ta_max_min,call119_train.hm_min,call119_train.hm_max,call119_train.ws_max,call119_train.ws_ins_max,call119_train.rn_day,call119_train.call_count
0,20200501,부산광역시,강서구,대저2동,904,23.7,16.6,7.1,63.2,90.3,5.8,10.6,0.0,1.0
1,20200501,부산광역시,강서구,천성동,921,24.3,15.4,8.9,64.2,96.4,4.8,8.6,0.0,1.0
2,20200501,부산광역시,금정구,금사동,940,25.6,17.2,8.4,46.6,76.4,4.8,8.3,0.0,1.0
3,20200501,부산광역시,금정구,금성동,941,25.3,17.1,8.2,-99.0,-99.0,7.1,9.7,0.0,1.0
4,20200501,부산광역시,금정구,남산동,939,26.5,16.7,9.8,-99.0,-99.0,5.7,8.1,0.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52520,20241031,부산광역시,영도구,청학동,159,23.2,16.0,7.2,53.5,72.6,4.3,8.0,0.0,NaN
52521,20241031,부산광역시,중구,중앙동,159,23.2,16.0,7.2,53.5,72.6,4.3,8.0,0.0,NaN
52522,20241031,부산광역시,해운대구,반여동,937,25.4,14.8,10.6,52.9,86.6,2.6,6.1,0.0,NaN
52523,20241031,부산광역시,해운대구,우동,937,25.4,14.8,10.6,52.9,86.6,2.6,6.1,0.0,NaN
52524,20241031,부산광역시,해운대구,좌동,937,25.4,14.8,10.6,52.9,86.6,2.6,6.1,0.0,NaN

In [19]:
combined_df_call119.describe()

,call119_train.tm,call119_train.stn,call119_train.ta_max,call119_train.ta_min,call119_train.ta_max_min,call119_train.hm_min,call119_train.hm_max,call119_train.ws_max,call119_train.ws_ins_max,call119_train.rn_day,call119_train.call_count
count,5.252500e+04,52525.000000,52525.000000,52525.000000,52525.000000,52525.000000,52525.000000,52525.000000,52525.000000,52525.000000,42924.000000
mean,2.022041e+07,817.829605,26.294869,18.598757,7.368154,47.462111,79.075554,4.407459,8.247096,8.274220,1.916760
std,1.384725e+04,277.155762,8.337576,8.316761,6.809585,40.269241,45.469545,6.327443,7.312125,29.627527,2.058855
min,2.020050e+07,159.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,1.000000
25%,2.021062e+07,904.000000,23.800000,15.600000,5.600000,42.100000,84.200000,3.300000,6.200000,0.000000,1.000000
50%,2.022072e+07,938.000000,26.700000,19.600000,7.500000,56.500000,92.000000,4.200000,7.800000,0.000000,1.000000
75%,2.023083e+07,940.000000,29.800000,22.900000,9.700000,67.300000,96.700000,5.500000,10.000000,1.600000,2.000000
max,2.024103e+07,950.000000,37.600000,29.000000,23.000000,99.500000,100.000000,30.700000,37.800000,407.500000,115.000000

In [20]:
combined_df_call119.head()

,call119_train.tm,call119_train.address_city,call119_train.address_gu,call119_train.sub_address,call119_train.stn,call119_train.ta_max,call119_train.ta_min,call119_train.ta_max_min,call119_train.hm_min,call119_train.hm_max,call119_train.ws_max,call119_train.ws_ins_max,call119_train.rn_day,call119_train.call_count
0,20200501,부산광역시,강서구,대저2동,904,23.7,16.6,7.1,63.2,90.3,5.8,10.6,0.0,1.0
1,20200501,부산광역시,강서구,천성동,921,24.3,15.4,8.9,64.2,96.4,4.8,8.6,0.0,1.0
2,20200501,부산광역시,금정구,금사동,940,25.6,17.2,8.4,46.6,76.4,4.8,8.3,0.0,1.0
3,20200501,부산광역시,금정구,금성동,941,25.3,17.1,8.2,-99.0,-99.0,7.1,9.7,0.0,1.0
4,20200501,부산광역시,금정구,남산동,939,26.5,16.7,9.8,-99.0,-99.0,5.7,8.1,0.0,3.0

In [21]:
combined_df_call119.tail()

,call119_train.tm,call119_train.address_city,call119_train.address_gu,call119_train.sub_address,call119_train.stn,call119_train.ta_max,call119_train.ta_min,call119_train.ta_max_min,call119_train.hm_min,call119_train.hm_max,call119_train.ws_max,call119_train.ws_ins_max,call119_train.rn_day,call119_train.call_count
52520,20241031,부산광역시,영도구,청학동,159,23.2,16.0,7.2,53.5,72.6,4.3,8.0,0.0,NaN
52521,20241031,부산광역시,중구,중앙동,159,23.2,16.0,7.2,53.5,72.6,4.3,8.0,0.0,NaN
52522,20241031,부산광역시,해운대구,반여동,937,25.4,14.8,10.6,52.9,86.6,2.6,6.1,0.0,NaN
52523,20241031,부산광역시,해운대구,우동,937,25.4,14.8,10.6,52.9,86.6,2.6,6.1,0.0,NaN
52524,20241031,부산광역시,해운대구,좌동,937,25.4,14.8,10.6,52.9,86.6,2.6,6.1,0.0,NaN

In [22]:
combined_df_call119.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52525 entries, 0 to 52524
Data columns (total 14 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   call119_train.tm            52525 non-null  int64
 1   call119_train.address_city  52525 non-null  object
 2   call119_train.address_gu    52525 non-null  object
 3   call119_train.sub_address   52525 non-null  object
 4   call119_train.stn           52525 non-null  int64
 5   call119_train.ta_max        52525 non-null  float64
 6   call119_train.ta_min        52525 non-null  float64
 7   call119_train.ta_max_min    52525 non-null  float64
 8   call119_train.hm_min        52525 non-null  float64
 9   call119_train.hm_max        52525 non-null  float64
 10  call119_train.ws_max        52525 non-null  float64
 11  call119_train.ws_ins_max    52525 non-null  float64
 12  call119_train.rn_day        52525 non-null  float64
 13  call119_train.call_count    42924 non-null  float64
dtypes: float64(9), int64(2), object(3)
memory usage: 5.6+ MB

### 결측치 확인

In [23]:
combined_df_call119.isna().sum()

call119_train.tm                 0
call119_train.address_city       0
call119_train.address_gu         0
call119_train.sub_address        0
call119_train.stn                0
call119_train.ta_max             0
call119_train.ta_min             0
call119_train.ta_max_min         0
call119_train.hm_min             0
call119_train.hm_max             0
call119_train.ws_max             0
call119_train.ws_ins_max         0
call119_train.rn_day             0
call119_train.call_count      9601
dtype: int64

In [24]:
data_call119_missing_counts = (data_call119 == -99).sum()
data_call119_missing_counts

call119_train.tm                 0
call119_train.address_city       0
call119_train.address_gu         0
call119_train.sub_address        0
call119_train.stn                0
call119_train.ta_max           133
call119_train.ta_min           133
call119_train.ta_max_min       133
call119_train.hm_min          3056
call119_train.hm_max          3056
call119_train.ws_max           141
call119_train.ws_ins_max       141
call119_train.rn_day           255
call119_train.call_count         0
dtype: int64

In [25]:
test_call119_missing_counts = (test_call119 == -99).sum()
test_call119_missing_counts

call119_train.tm               0
call119_train.address_city     0
call119_train.address_gu       0
call119_train.sub_address      0
call119_train.stn              0
call119_train.ta_max          41
call119_train.ta_min          41
call119_train.ta_max_min      41
call119_train.hm_min          53
call119_train.hm_max          53
call119_train.ws_max          31
call119_train.ws_ins_max      41
call119_train.rn_day          41
call119_train.call_count       0
dtype: int64

In [26]:
missing_counts = (combined_df_call119 == -99).sum()
missing_counts

call119_train.tm                 0
call119_train.address_city       0
call119_train.address_gu         0
call119_train.sub_address        0
call119_train.stn                0
call119_train.ta_max           174
call119_train.ta_min           174
call119_train.ta_max_min       174
call119_train.hm_min          3109
call119_train.hm_max          3109
call119_train.ws_max           172
call119_train.ws_ins_max       182
call119_train.rn_day           296
call119_train.call_count         0
dtype: int64

In [27]:
# 선형 보간 (시계열 데이터이며, 결측치 제거 시 분석량 불일치로 인하여 선형 보간법 선정)

# 처리할 열 목록
cols_to_fix = ['call119_train.ta_max', 'call119_train.ta_min', 'call119_train.ta_max_min', 'call119_train.hm_min', 'call119_train.hm_max', 'call119_train.ws_max','call119_train.ws_ins_max','call119_train.rn_day']

# 1. -99 → np.nan
combined_df_call119[cols_to_fix] = combined_df_call119[cols_to_fix].replace(-99, np.nan)

# 2. 선형 보간
combined_df_call119[cols_to_fix] = combined_df_call119[cols_to_fix].interpolate(method='linear')
combined_df_call119

,call119_train.tm,call119_train.address_city,call119_train.address_gu,call119_train.sub_address,call119_train.stn,call119_train.ta_max,call119_train.ta_min,call119_train.ta_max_min,call119_train.hm_min,call119_train.hm_max,call119_train.ws_max,call119_train.ws_ins_max,call119_train.rn_day,call119_train.call_count
0,20200501,부산광역시,강서구,대저2동,904,23.7,16.6,7.1,63.2,90.3,5.8,10.6,0.0,1.0
1,20200501,부산광역시,강서구,천성동,921,24.3,15.4,8.9,64.2,96.4,4.8,8.6,0.0,1.0
2,20200501,부산광역시,금정구,금사동,940,25.6,17.2,8.4,46.6,76.4,4.8,8.3,0.0,1.0
3,20200501,부산광역시,금정구,금성동,941,25.3,17.1,8.2,46.6,76.4,7.1,9.7,0.0,1.0
4,20200501,부산광역시,금정구,남산동,939,26.5,16.7,9.8,46.6,76.4,5.7,8.1,0.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52520,20241031,부산광역시,영도구,청학동,159,23.2,16.0,7.2,53.5,72.6,4.3,8.0,0.0,NaN
52521,20241031,부산광역시,중구,중앙동,159,23.2,16.0,7.2,53.5,72.6,4.3,8.0,0.0,NaN
52522,20241031,부산광역시,해운대구,반여동,937,25.4,14.8,10.6,52.9,86.6,2.6,6.1,0.0,NaN
52523,20241031,부산광역시,해운대구,우동,937,25.4,14.8,10.6,52.9,86.6,2.6,6.1,0.0,NaN
52524,20241031,부산광역시,해운대구,좌동,937,25.4,14.8,10.6,52.9,86.6,2.6,6.1,0.0,NaN

In [28]:
missing_counts = (combined_df_call119 == -99).sum()
missing_counts

call119_train.tm              0
call119_train.address_city    0
call119_train.address_gu      0
call119_train.sub_address     0
call119_train.stn             0
call119_train.ta_max          0
call119_train.ta_min          0
call119_train.ta_max_min      0
call119_train.hm_min          0
call119_train.hm_max          0
call119_train.ws_max          0
call119_train.ws_ins_max      0
call119_train.rn_day          0
call119_train.call_count      0
dtype: int64

In [29]:
# 결측치 제거(** 처음 분석 시 제거하였으나, 이후 선형 보간법으로 변경하여 본 코드는 사용하지 않음)
# data_call119_clean= combined_df_call119[~(combined_df_call119 == -99).any(axis=1)]
# data_call119_clean

In [30]:
set(combined_df_call119['call119_train.address_city'])

{'부산광역시'}

In [31]:
set(combined_df_call119['call119_train.address_gu'])

{'강서구',
 '금정구',
 '기장군',
 '남구',
 '동구',
 '동래구',
 '부산진구',
 '북구',
 '사상구',
 '사하구',
 '서구',
 '수영구',
 '연제구',
 '영도구',
 '중구',
 '해운대구'}

In [32]:
combined_df_call119['call119_train.address_gu'].value_counts()

call119_train.address_gu
부산진구    5854
해운대구    4787
사하구     4380
금정구     3991
사상구     3959
강서구     3770
동래구     3518
북구      3296
남구      3049
기장군     2797
수영구     2689
서구      2448
영도구     2354
동구      2234
중구      1863
연제구     1536
Name: count, dtype: int64

In [33]:
combined_df_call119['call119_train.sub_address'].value_counts()

call119_train.sub_address
연산동    913
송정동    877
우동     859
대연동    839
부전동    835
      ...
죽림동     31
죽동동     30
식만동     27
눌차동     19
정관면      3
Name: count, Length: 136, dtype: int64

In [34]:
set(combined_df_call119['call119_train.call_count'])

{1.0,
 2.0,
 3.0,
 4.0,
 5.0,
 6.0,
 7.0,
 8.0,
 9.0,
 10.0,
 11.0,
 12.0,
 13.0,
 14.0,
 15.0,
 16.0,
 17.0,
 18.0,
 19.0,
 20.0,
 21.0,
 22.0,
 23.0,
 24.0,
 25.0,
 26.0,
 27.0,
 28.0,
 29.0,
 30.0,
 31.0,
 32.0,
 nan,
 34.0,
 35.0,
 36.0,
 nan,
 38.0,
 nan,
 nan,
 nan,
 42.0,
 43.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 54.0,
 nan,
 nan,
 58.0,
 nan,
 nan,
 nan,
 nan,
 67.0,
 nan,
 nan,
 nan,
 nan,
 74.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 87.0,
 nan,
 89.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 105.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 115.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 ...}

## 일사열 데이터 불러오기

In [35]:
solar = pd.read_csv('solar_data.csv', encoding='cp949')
solar

,지점,일시,가조시간(hr),합계 일조시간(hr),1시간 최다일사 시각(hhmi),1시간 최다일사량(MJ/m2),합계 일사량(MJ/m2)
0,159,2020-05-01,13.6,11.6,1200.0,3.54,26.87
1,159,2020-05-02,13.6,5.0,1000.0,2.82,17.20
2,159,2020-05-03,13.7,0.0,1200.0,0.49,3.05
3,159,2020-05-04,13.7,9.7,1200.0,3.44,24.98
4,159,2020-05-05,13.7,1.9,900.0,2.29,15.24
...,...,...,...,...,...,...,...
915,159,2024-10-27,10.9,2.2,900.0,1.42,6.39
916,159,2024-10-28,10.9,2.5,900.0,1.58,6.88
917,159,2024-10-29,10.9,4.7,1000.0,2.21,11.86
918,159,2024-10-30,10.8,9.9,1100.0,2.46,15.35
919,159,2024-10-31,10.8,2.9,1300.0,1.81,10.05

In [36]:
# 선형 보간 (시계열 데이터이며, 결측치 제거 시 분석량 불일치로 인하여 선형 보간법 선정)

# 처리할 열 목록
cols_to_fix = ['합계 일사량(MJ/m2)']

solar[cols_to_fix] = solar[cols_to_fix].interpolate(method='linear')
solar

,지점,일시,가조시간(hr),합계 일조시간(hr),1시간 최다일사 시각(hhmi),1시간 최다일사량(MJ/m2),합계 일사량(MJ/m2)
0,159,2020-05-01,13.6,11.6,1200.0,3.54,26.87
1,159,2020-05-02,13.6,5.0,1000.0,2.82,17.20
2,159,2020-05-03,13.7,0.0,1200.0,0.49,3.05
3,159,2020-05-04,13.7,9.7,1200.0,3.44,24.98
4,159,2020-05-05,13.7,1.9,900.0,2.29,15.24
...,...,...,...,...,...,...,...
915,159,2024-10-27,10.9,2.2,900.0,1.42,6.39
916,159,2024-10-28,10.9,2.5,900.0,1.58,6.88
917,159,2024-10-29,10.9,4.7,1000.0,2.21,11.86
918,159,2024-10-30,10.8,9.9,1100.0,2.46,15.35
919,159,2024-10-31,10.8,2.9,1300.0,1.81,10.05

In [37]:
# 예: df1의 날짜 형식이 '20200501'이라면 (숫자 또는 문자열 형태)
combined_df_call119['call119_train.tm'] = pd.to_datetime(combined_df_call119['call119_train.tm'], format='%Y%m%d')

# df2의 날짜 형식이 '2020-05-01'이라면
solar['일시'] = pd.to_datetime(solar['일시'], format='%Y-%m-%d')

In [38]:
combined_df_call119

,call119_train.tm,call119_train.address_city,call119_train.address_gu,call119_train.sub_address,call119_train.stn,call119_train.ta_max,call119_train.ta_min,call119_train.ta_max_min,call119_train.hm_min,call119_train.hm_max,call119_train.ws_max,call119_train.ws_ins_max,call119_train.rn_day,call119_train.call_count
0,2020-05-01,부산광역시,강서구,대저2동,904,23.7,16.6,7.1,63.2,90.3,5.8,10.6,0.0,1.0
1,2020-05-01,부산광역시,강서구,천성동,921,24.3,15.4,8.9,64.2,96.4,4.8,8.6,0.0,1.0
2,2020-05-01,부산광역시,금정구,금사동,940,25.6,17.2,8.4,46.6,76.4,4.8,8.3,0.0,1.0
3,2020-05-01,부산광역시,금정구,금성동,941,25.3,17.1,8.2,46.6,76.4,7.1,9.7,0.0,1.0
4,2020-05-01,부산광역시,금정구,남산동,939,26.5,16.7,9.8,46.6,76.4,5.7,8.1,0.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52520,2024-10-31,부산광역시,영도구,청학동,159,23.2,16.0,7.2,53.5,72.6,4.3,8.0,0.0,NaN
52521,2024-10-31,부산광역시,중구,중앙동,159,23.2,16.0,7.2,53.5,72.6,4.3,8.0,0.0,NaN
52522,2024-10-31,부산광역시,해운대구,반여동,937,25.4,14.8,10.6,52.9,86.6,2.6,6.1,0.0,NaN
52523,2024-10-31,부산광역시,해운대구,우동,937,25.4,14.8,10.6,52.9,86.6,2.6,6.1,0.0,NaN
52524,2024-10-31,부산광역시,해운대구,좌동,937,25.4,14.8,10.6,52.9,86.6,2.6,6.1,0.0,NaN

In [39]:
solar

,지점,일시,가조시간(hr),합계 일조시간(hr),1시간 최다일사 시각(hhmi),1시간 최다일사량(MJ/m2),합계 일사량(MJ/m2)
0,159,2020-05-01,13.6,11.6,1200.0,3.54,26.87
1,159,2020-05-02,13.6,5.0,1000.0,2.82,17.20
2,159,2020-05-03,13.7,0.0,1200.0,0.49,3.05
3,159,2020-05-04,13.7,9.7,1200.0,3.44,24.98
4,159,2020-05-05,13.7,1.9,900.0,2.29,15.24
...,...,...,...,...,...,...,...
915,159,2024-10-27,10.9,2.2,900.0,1.42,6.39
916,159,2024-10-28,10.9,2.5,900.0,1.58,6.88
917,159,2024-10-29,10.9,4.7,1000.0,2.21,11.86
918,159,2024-10-30,10.8,9.9,1100.0,2.46,15.35
919,159,2024-10-31,10.8,2.9,1300.0,1.81,10.05

In [40]:
# 평균 일사량 계산산
# 에너지 단위인 J로 변환하기 위해 1_000_000 곱함. 3600은 시간 당 초

solar['평균 일사량(W/m2)'] = (solar['합계 일사량(MJ/m2)'] * 1_000_000) / (solar['가조시간(hr)'] * 3600)
solar

,지점,일시,가조시간(hr),합계 일조시간(hr),1시간 최다일사 시각(hhmi),1시간 최다일사량(MJ/m2),합계 일사량(MJ/m2),평균 일사량(W/m2)
0,159,2020-05-01,13.6,11.6,1200.0,3.54,26.87,548.815359
1,159,2020-05-02,13.6,5.0,1000.0,2.82,17.20,351.307190
2,159,2020-05-03,13.7,0.0,1200.0,0.49,3.05,61.841038
3,159,2020-05-04,13.7,9.7,1200.0,3.44,24.98,506.488240
4,159,2020-05-05,13.7,1.9,900.0,2.29,15.24,309.002433
...,...,...,...,...,...,...,...,...
915,159,2024-10-27,10.9,2.2,900.0,1.42,6.39,162.844037
916,159,2024-10-28,10.9,2.5,900.0,1.58,6.88,175.331295
917,159,2024-10-29,10.9,4.7,1000.0,2.21,11.86,302.242610
918,159,2024-10-30,10.8,9.9,1100.0,2.46,15.35,394.804527
919,159,2024-10-31,10.8,2.9,1300.0,1.81,10.05,258.487654

In [41]:
solar.describe()

,지점,일시,가조시간(hr),합계 일조시간(hr),1시간 최다일사 시각(hhmi),1시간 최다일사량(MJ/m2),합계 일사량(MJ/m2),평균 일사량(W/m2)
count,920.0,920,920.000000,918.000000,918.000000,918.000000,920.000000,920.000000
mean,159.0,2022-07-31 16:48:00,13.317826,6.220370,1191.067538,2.639532,17.860864,371.221763
min,159.0,2020-05-01 00:00:00,10.800000,0.000000,800.000000,0.210000,1.290000,26.942356
25%,159.0,2021-06-15 18:00:00,12.400000,1.900000,1100.000000,2.120000,12.082500,251.442984
50%,159.0,2022-07-31 12:00:00,13.800000,6.850000,1200.000000,2.915000,18.500000,409.710166
75%,159.0,2023-09-15 06:00:00,14.300000,10.100000,1200.000000,3.400000,24.972500,502.015485
max,159.0,2024-10-31 00:00:00,14.500000,12.600000,1600.000000,3.910000,30.730000,608.880779
std,0.0,NaN,1.156092,4.329407,123.148242,0.937018,8.041155,158.237309

In [42]:
combined_df_call119['call119_train.tm'] = pd.to_datetime(combined_df_call119['call119_train.tm'])
solar['일시'] = pd.to_datetime(solar['일시'])

In [43]:
solar_daily = solar[['일시', '평균 일사량(W/m2)']]
solar_daily

            일시  평균 일사량(W/m2)
0   2020-05-01    548.815359
1   2020-05-02    351.307190
2   2020-05-03     61.841038
3   2020-05-04    506.488240
4   2020-05-05    309.002433
..         ...           ...
915 2024-10-27    162.844037
916 2024-10-28    175.331295
917 2024-10-29    302.242610
918 2024-10-30    394.804527
919 2024-10-31    258.487654

[920 rows x 2 columns]

In [44]:
merged_df_solar = pd.merge(combined_df_call119, solar_daily, left_on='call119_train.tm', right_on='일시', how='left')
merged_df_solar

,call119_train.tm,call119_train.address_city,call119_train.address_gu,call119_train.sub_address,call119_train.stn,call119_train.ta_max,call119_train.ta_min,call119_train.ta_max_min,call119_train.hm_min,call119_train.hm_max,call119_train.ws_max,call119_train.ws_ins_max,call119_train.rn_day,call119_train.call_count,일시,평균 일사량(W/m2)
0,2020-05-01,부산광역시,강서구,대저2동,904,23.7,16.6,7.1,63.2,90.3,5.8,10.6,0.0,1.0,2020-05-01,548.815359
1,2020-05-01,부산광역시,강서구,천성동,921,24.3,15.4,8.9,64.2,96.4,4.8,8.6,0.0,1.0,2020-05-01,548.815359
2,2020-05-01,부산광역시,금정구,금사동,940,25.6,17.2,8.4,46.6,76.4,4.8,8.3,0.0,1.0,2020-05-01,548.815359
3,2020-05-01,부산광역시,금정구,금성동,941,25.3,17.1,8.2,46.6,76.4,7.1,9.7,0.0,1.0,2020-05-01,548.815359
4,2020-05-01,부산광역시,금정구,남산동,939,26.5,16.7,9.8,46.6,76.4,5.7,8.1,0.0,3.0,2020-05-01,548.815359
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52520,2024-10-31,부산광역시,영도구,청학동,159,23.2,16.0,7.2,53.5,72.6,4.3,8.0,0.0,NaN,2024-10-31,258.487654
52521,2024-10-31,부산광역시,중구,중앙동,159,23.2,16.0,7.2,53.5,72.6,4.3,8.0,0.0,NaN,2024-10-31,258.487654
52522,2024-10-31,부산광역시,해운대구,반여동,937,25.4,14.8,10.6,52.9,86.6,2.6,6.1,0.0,NaN,2024-10-31,258.487654
52523,2024-10-31,부산광역시,해운대구,우동,937,25.4,14.8,10.6,52.9,86.6,2.6,6.1,0.0,NaN,2024-10-31,258.487654
52524,2024-10-31,부산광역시,해운대구,좌동,937,25.4,14.8,10.6,52.9,86.6,2.6,6.1,0.0,NaN,2024-10-31,258.487654

### WBGT 계산

In [45]:
def calculate_wbgt(ta_max, ta_min, rh_max, rh_min, ws_ins_max, avg_solar):
    # 1. 평균 기온과 습도
    t_avg = (ta_max + ta_min) / 2
    rh_avg = (rh_max + rh_min) / 2

    # 2. 수증기압 (hPa)
    e = rh_avg / 100 * 6.105 * np.exp((17.27 * t_avg) / (237.7 + t_avg))

    # 3. 기본 WBGT 계산 (Steadman 근사식)
    wbgt_base = 0.567 * t_avg + 0.393 * e + 3.94

    # 4. 일사량과 풍속 보정
    alpha = 1.0  # 일사량 영향 계수
    beta = 0.5   # 풍속 영향 계수
    solar_factor = (avg_solar / 800) if avg_solar is not None else 0
    wind = ws_ins_max if ws_ins_max is not None else 0

    wbgt_adjusted = wbgt_base + alpha * solar_factor - beta * wind
    return wbgt_adjusted

In [46]:
merged_df_solar['WBGT'] = merged_df_solar.apply(lambda row: calculate_wbgt(
    row['call119_train.ta_max'],
    row['call119_train.ta_min'],
    row['call119_train.hm_max'],
    row['call119_train.hm_min'],
    row['call119_train.ws_ins_max'],
    row['평균 일사량(W/m2)']  # 평균 일사강도 (W/m²)
), axis=1)
merged_df_solar

,call119_train.tm,call119_train.address_city,call119_train.address_gu,call119_train.sub_address,call119_train.stn,call119_train.ta_max,call119_train.ta_min,call119_train.ta_max_min,call119_train.hm_min,call119_train.hm_max,call119_train.ws_max,call119_train.ws_ins_max,call119_train.rn_day,call119_train.call_count,일시,평균 일사량(W/m2),WBGT
0,2020-05-01,부산광역시,강서구,대저2동,904,23.7,16.6,7.1,63.2,90.3,5.8,10.6,0.0,1.0,2020-05-01,548.815359,17.851324
1,2020-05-01,부산광역시,강서구,천성동,921,24.3,15.4,8.9,64.2,96.4,4.8,8.6,0.0,1.0,2020-05-01,548.815359,18.873149
2,2020-05-01,부산광역시,금정구,금사동,940,25.6,17.2,8.4,46.6,76.4,4.8,8.3,0.0,1.0,2020-05-01,548.815359,18.753480
3,2020-05-01,부산광역시,금정구,금성동,941,25.3,17.1,8.2,46.6,76.4,7.1,9.7,0.0,1.0,2020-05-01,548.815359,17.865345
4,2020-05-01,부산광역시,금정구,남산동,939,26.5,16.7,9.8,46.6,76.4,5.7,8.1,0.0,3.0,2020-05-01,548.815359,19.042418
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52520,2024-10-31,부산광역시,영도구,청학동,159,23.2,16.0,7.2,53.5,72.6,4.3,8.0,0.0,NaN,2024-10-31,258.487654,17.013998
52521,2024-10-31,부산광역시,중구,중앙동,159,23.2,16.0,7.2,53.5,72.6,4.3,8.0,0.0,NaN,2024-10-31,258.487654,17.013998
52522,2024-10-31,부산광역시,해운대구,반여동,937,25.4,14.8,10.6,52.9,86.6,2.6,6.1,0.0,NaN,2024-10-31,258.487654,19.042591
52523,2024-10-31,부산광역시,해운대구,우동,937,25.4,14.8,10.6,52.9,86.6,2.6,6.1,0.0,NaN,2024-10-31,258.487654,19.042591
52524,2024-10-31,부산광역시,해운대구,좌동,937,25.4,14.8,10.6,52.9,86.6,2.6,6.1,0.0,NaN,2024-10-31,258.487654,19.042591

# 119 신고 유형 데이터

In [47]:
data_cat119 = pd.read_csv('cat119_train.csv')
data_cat119

,Unnamed: 0,cat119_train.tm,cat119_train.address_city,cat119_train.address_gu,cat119_train.sub_address,cat119_train.cat,cat119_train.sub_cat,cat119_train.stn,cat119_train.call_count
0,1,20200501,부산광역시,강서구,대저2동,구급,교통사고,904,1
1,2,20200501,부산광역시,강서구,천성동,구조,교통사고,921,1
2,3,20200501,부산광역시,금정구,금사동,구급,부상,940,1
3,4,20200501,부산광역시,금정구,금성동,기타,업무운행,941,1
4,5,20200501,부산광역시,금정구,남산동,구급,부상,939,1
...,...,...,...,...,...,...,...,...,...
61766,61767,20231031,부산광역시,해운대구,반여동,구급,교통사고,937,1
61767,61768,20231031,부산광역시,해운대구,반여동,구급,부상,937,1
61768,61769,20231031,부산광역시,해운대구,석대동,구급,부상,940,1
61769,61770,20231031,부산광역시,해운대구,송정동,기타,업무운행,937,1
61770,61771,20231031,부산광역시,해운대구,재송동,구급,부상,937,1

In [48]:
# Index 열 (첫번째) 제거
data_cat119 = data_cat119.drop('Unnamed: 0', axis=1)
data_cat119

,cat119_train.tm,cat119_train.address_city,cat119_train.address_gu,cat119_train.sub_address,cat119_train.cat,cat119_train.sub_cat,cat119_train.stn,cat119_train.call_count
0,20200501,부산광역시,강서구,대저2동,구급,교통사고,904,1
1,20200501,부산광역시,강서구,천성동,구조,교통사고,921,1
2,20200501,부산광역시,금정구,금사동,구급,부상,940,1
3,20200501,부산광역시,금정구,금성동,기타,업무운행,941,1
4,20200501,부산광역시,금정구,남산동,구급,부상,939,1
...,...,...,...,...,...,...,...,...
61766,20231031,부산광역시,해운대구,반여동,구급,교통사고,937,1
61767,20231031,부산광역시,해운대구,반여동,구급,부상,937,1
61768,20231031,부산광역시,해운대구,석대동,구급,부상,940,1
61769,20231031,부산광역시,해운대구,송정동,기타,업무운행,937,1
61770,20231031,부산광역시,해운대구,재송동,구급,부상,937,1

In [49]:
data_cat119['cat119_train.call_count'].sum()

82275

In [176]:
test_cat119 = pd.read_csv('test_cat119.csv', encoding='cp949')
test_cat119

             TM address_city address_gu sub_address cat sub_cat  STN
0      20240501        부산광역시        강서구        대저2동  구급    교통사고  904
1      20240501        부산광역시        강서구         생곡동  구급      부상  904
2      20240501        부산광역시        강서구         송정동  구급    교통사고  937
3      20240501        부산광역시        강서구         신호동  기타    업무운행  950
4      20240501        부산광역시        금정구         구서동  기타    상황출동  940
...         ...          ...        ...         ...  ..     ...  ...
12734  20241031        부산광역시       해운대구         반여동  구급      부상  937
12735  20241031        부산광역시       해운대구          우동  구급    교통사고  937
12736  20241031        부산광역시       해운대구          우동  구급      부상  937
12737  20241031        부산광역시       해운대구          우동  기타    업무운행  937
12738  20241031        부산광역시       해운대구          좌동  구급      부상  937

[12739 rows x 7 columns]

In [177]:
test_cat119['cat119_train.call_count'] = np.nan # 두 개의 데이터 프레임 병합을 위해 임의의 nan 열 생성

# 전처리를 위해 train과 test 파일을 병합합
test_cat119.columns = data_cat119.columns # data_cat119의 열 이름을 기준으로 test_cat119도 맞춤

combined_df_cat119 = pd.concat([data_cat119, test_cat119], axis=0, ignore_index=True)
combined_df_cat119

,cat119_train.tm,cat119_train.address_city,cat119_train.address_gu,cat119_train.sub_address,cat119_train.cat,cat119_train.sub_cat,cat119_train.stn,cat119_train.call_count
0,20200501,부산광역시,강서구,대저2동,구급,교통사고,904,1.0
1,20200501,부산광역시,강서구,천성동,구조,교통사고,921,1.0
2,20200501,부산광역시,금정구,금사동,구급,부상,940,1.0
3,20200501,부산광역시,금정구,금성동,기타,업무운행,941,1.0
4,20200501,부산광역시,금정구,남산동,구급,부상,939,1.0
...,...,...,...,...,...,...,...,...
74505,20241031,부산광역시,해운대구,반여동,구급,부상,937,NaN
74506,20241031,부산광역시,해운대구,우동,구급,교통사고,937,NaN
74507,20241031,부산광역시,해운대구,우동,구급,부상,937,NaN
74508,20241031,부산광역시,해운대구,우동,기타,업무운행,937,NaN
74509,20241031,부산광역시,해운대구,좌동,구급,부상,937,NaN

In [178]:
combined_df_cat119.head(10)

,cat119_train.tm,cat119_train.address_city,cat119_train.address_gu,cat119_train.sub_address,cat119_train.cat,cat119_train.sub_cat,cat119_train.stn,cat119_train.call_count
0,20200501,부산광역시,강서구,대저2동,구급,교통사고,904,1.0
1,20200501,부산광역시,강서구,천성동,구조,교통사고,921,1.0
2,20200501,부산광역시,금정구,금사동,구급,부상,940,1.0
3,20200501,부산광역시,금정구,금성동,기타,업무운행,941,1.0
4,20200501,부산광역시,금정구,남산동,구급,부상,939,1.0
5,20200501,부산광역시,금정구,남산동,기타,업무운행,939,2.0
6,20200501,부산광역시,금정구,부곡동,구급,부상,940,1.0
7,20200501,부산광역시,금정구,장전동,구급,교통사고,940,1.0
8,20200501,부산광역시,기장군,기장읍,구급,교통사고,923,1.0
9,20200501,부산광역시,기장군,일광면,구급,부상,923,1.0

In [179]:
combined_df_cat119.tail(10)

,cat119_train.tm,cat119_train.address_city,cat119_train.address_gu,cat119_train.sub_address,cat119_train.cat,cat119_train.sub_cat,cat119_train.stn,cat119_train.call_count
74500,20241031,부산광역시,연제구,연산동,구급,교통사고,940,NaN
74501,20241031,부산광역시,연제구,연산동,구급,부상,940,NaN
74502,20241031,부산광역시,연제구,연산동,기타,업무운행,940,NaN
74503,20241031,부산광역시,영도구,청학동,구급,부상,159,NaN
74504,20241031,부산광역시,중구,중앙동,구급,부상,159,NaN
74505,20241031,부산광역시,해운대구,반여동,구급,부상,937,NaN
74506,20241031,부산광역시,해운대구,우동,구급,교통사고,937,NaN
74507,20241031,부산광역시,해운대구,우동,구급,부상,937,NaN
74508,20241031,부산광역시,해운대구,우동,기타,업무운행,937,NaN
74509,20241031,부산광역시,해운대구,좌동,구급,부상,937,NaN

In [180]:
combined_df_cat119.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74510 entries, 0 to 74509
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   cat119_train.tm            74510 non-null  int64
 1   cat119_train.address_city  74510 non-null  object
 2   cat119_train.address_gu    74510 non-null  object
 3   cat119_train.sub_address   74510 non-null  object
 4   cat119_train.cat           74510 non-null  object
 5   cat119_train.sub_cat       74510 non-null  object
 6   cat119_train.stn           74510 non-null  int64
 7   cat119_train.call_count    61771 non-null  float64
dtypes: float64(1), int64(2), object(5)
memory usage: 4.5+ MB

In [181]:
combined_df_cat119.describe()

       cat119_train.tm  cat119_train.stn  cat119_train.call_count
count     7.451000e+04      74510.000000             61771.000000
mean      2.022005e+07        836.222131                 1.331936
std       1.365357e+04        258.481386                 1.288823
min       2.020050e+07        159.000000                 1.000000
25%       2.021062e+07        923.000000                 1.000000
50%       2.022072e+07        938.000000                 1.000000
75%       2.023082e+07        941.000000                 1.000000
max       2.024103e+07        950.000000                72.000000

In [182]:
set(combined_df_cat119['cat119_train.cat'])

{'구급', '구조', '기타', '화재'}

In [183]:
combined_df_cat119['cat119_train.cat'].value_counts()

cat119_train.cat
구급    53465
기타    11622
구조     9317
화재      106
Name: count, dtype: int64

In [184]:
set(combined_df_cat119['cat119_train.sub_cat'])

{'교통사고',
 '구급기타',
 '구급예약',
 '기타',
 '대민지원',
 '부상',
 '산불',
 '산사태',
 '산악사고',
 '상황출동',
 '수난사고',
 '업무운행',
 '예방경계',
 '자연재해',
 '지원출동(가옥정리)',
 '지원출동(급수)',
 '지원출동(기타)',
 '지원출동(재해)',
 '지원출동(전기)',
 '지원출동(풍수해)',
 '지원출동(환경)',
 '항공구조(수색구조)',
 '항공구조(항공사고)'}

In [185]:
combined_df_cat119['cat119_train.sub_cat'].value_counts()

cat119_train.sub_cat
부상            29295
교통사고          22541
업무운행           9324
구급기타           5986
자연재해           2418
상황출동           1759
수난사고           1429
산악사고           1104
대민지원            221
지원출동(풍수해)       141
산불              106
지원출동(기타)         67
지원출동(급수)         35
예방경계             27
지원출동(재해)         16
지원출동(전기)         15
산사태               8
기타                5
구급예약              5
지원출동(가옥정리)        3
지원출동(환경)          2
항공구조(수색구조)        2
항공구조(항공사고)        1
Name: count, dtype: int64

In [186]:
combined_df_cat119['cat119_train.address_gu'].value_counts()

cat119_train.address_gu
부산진구    8347
해운대구    7791
사하구     6299
사상구     5253
금정구     5038
북구      4960
동래구     4829
남구      4591
강서구     4577
기장군     4296
수영구     3974
연제구     3439
동구      3176
영도구     2984
서구      2834
중구      2122
Name: count, dtype: int64

In [187]:
combined_df_cat119['cat119_train.sub_address'].value_counts()

cat119_train.sub_address
연산동    2538
우동     1905
대연동    1692
광안동    1535
온천동    1410
       ...
죽림동      33
죽동동      30
식만동      27
눌차동      20
정관면       3
Name: count, Length: 136, dtype: int64

In [188]:
data_cat119_counts = (
    combined_df_cat119
    .groupby(['cat119_train.address_gu', 'cat119_train.cat', 'cat119_train.sub_cat'])
    .size()
    .reset_index(name='count')
)
data_cat119_counts.sort_values(by='cat119_train.sub_cat', ascending=True, inplace=True)
data_cat119_counts

    cat119_train.address_gu cat119_train.cat cat119_train.sub_cat  count
0                       강서구               구급                 교통사고   1282
227                     영도구               구조                 교통사고    123
127                      북구               구조                 교통사고    270
173                      서구               구급                 교통사고    598
141                     사상구               구급                 교통사고   1417
..                      ...              ...                  ...    ...
203                     수영구               기타             지원출동(환경)      1
37                      금정구               기타             지원출동(환경)      1
261                    해운대구               구조           항공구조(수색구조)      1
28                      금정구               구조           항공구조(수색구조)      1
8                       강서구               구조           항공구조(항공사고)      1

[274 rows x 4 columns]

In [189]:
combined_df_cat119.groupby(['cat119_train.cat', 'cat119_train.sub_cat']).size()

cat119_train.cat  cat119_train.sub_cat
구급                교통사고                    18179
                  구급기타                     5986
                  구급예약                        5
                  부상                      29295
구조                교통사고                     4362
                  산악사고                     1104
                  상황출동                        1
                  수난사고                     1429
                  자연재해                     2418
                  항공구조(수색구조)                  2
                  항공구조(항공사고)                  1
기타                기타                          5
                  대민지원                      221
                  산사태                         8
                  상황출동                     1758
                  업무운행                     9324
                  예방경계                       27
                  지원출동(가옥정리)                  3
                  지원출동(급수)                   35
                  지원출동(기타)                   67
                  지원출동(재해)                   16
                  지원출동(전기)                   15
                  지원출동(풍수해)                 141
                  지원출동(환경)                    2
화재                산불                        106
dtype: int64

## Call119와 Cat119파일 병합

In [190]:
# 주소를 기준으로 두 개의 파일을 병합(신고 건수 기준은 cat119로 함 - cat119은 개별신고건, call119는 합산 신고건, 예를 들어, call119가 2건일 때, cat119에서는 각 건당 신고 내역과 함꼐 1/1로 구성됨)
# 예: df1의 날짜 형식이 '20200501'이라면 (숫자 또는 문자열 형태)
combined_df_cat119['cat119_train.tm'] = pd.to_datetime(combined_df_cat119['cat119_train.tm'], format='%Y%m%d')

call_cat = pd.merge(
    combined_df_cat119,
    merged_df_solar,
    left_on=['cat119_train.tm', 'cat119_train.address_city', 'cat119_train.address_gu', 'cat119_train.sub_address'],
    right_on=['call119_train.tm', 'call119_train.address_city', 'call119_train.address_gu', 'call119_train.sub_address'],
    how='left'
)

In [191]:
idx = call_cat[call_cat['cat119_train.tm'] == '2024-05-01'].index
print(idx)

Index([61771, 61772, 61773, 61774, 61775, 61776, 61777, 61778, 61779, 61780,
       61781, 61782, 61783, 61784, 61785, 61786, 61787, 61788, 61789, 61790,
       61791, 61792, 61793, 61794, 61795, 61796, 61797, 61798, 61799, 61800,
       61801, 61802, 61803, 61804, 61805, 61806, 61807, 61808, 61809, 61810,
       61811, 61812, 61813, 61814, 61815, 61816, 61817, 61818, 61819, 61820,
       61821, 61822, 61823, 61824, 61825, 61826, 61827, 61828, 61829, 61830,
       61831, 61832, 61833, 61834, 61835, 61836, 61837, 61838],
      dtype='int64')

In [192]:
# 중복되거나 머신러닝에 필요 없는 열 제거

columns_to_drop = [
    'cat119_train.tm',
    'cat119_train.address_city',
    "call119_train.tm",
    "call119_train.address_city",
    "call119_train.call_count",
    'call119_train.address_city',
    'call119_train.address_gu',
    'call119_train.sub_address',
    'call119_train.stn',
    '일시'    
]

merged_df = call_cat.drop(columns=columns_to_drop, inplace=True)
merged_df

### 다중공선성 확인하기

In [193]:
# 다중공선성을 확인하기 위해 우선 구, 신고내역, 신고 세부사항과 같은 범주형은 label encoding을 통해 수치화함

from sklearn.preprocessing import LabelEncoder

merged_df = call_cat.copy()
cols_to_encode = ['cat119_train.address_gu', 'cat119_train.sub_address', 'cat119_train.cat', 'cat119_train.sub_cat']

for col in cols_to_encode:
    le = LabelEncoder()
    merged_df[col + '_encoded'] = le.fit_transform(merged_df[col])

# 범주형 원본 열 제거 (필요시)
merged_df.drop(columns=cols_to_encode, inplace=True)

# print(merged_df.head())

In [194]:
merged_df

,cat119_train.stn,cat119_train.call_count,call119_train.ta_max,call119_train.ta_min,call119_train.ta_max_min,call119_train.hm_min,call119_train.hm_max,call119_train.ws_max,call119_train.ws_ins_max,call119_train.rn_day,평균 일사량(W/m2),WBGT,cat119_train.address_gu_encoded,cat119_train.sub_address_encoded,cat119_train.cat_encoded,cat119_train.sub_cat_encoded
0,904,1.0,23.7,16.6,7.1,63.2,90.3,5.8,10.6,0.0,548.815359,17.851324,0,34,0,0
1,921,1.0,24.3,15.4,8.9,64.2,96.4,4.8,8.6,0.0,548.815359,18.873149,0,121,1,0
2,940,1.0,25.6,17.2,8.4,46.6,76.4,4.8,8.3,0.0,548.815359,18.753480,1,16,0,5
3,941,1.0,25.3,17.1,8.2,46.6,76.4,7.1,9.7,0.0,548.815359,17.865345,1,17,2,11
4,939,1.0,26.5,16.7,9.8,46.6,76.4,5.7,8.1,0.0,548.815359,19.042418,1,21,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74505,937,NaN,25.4,14.8,10.6,52.9,86.6,2.6,6.1,0.0,258.487654,19.042591,15,56,0,5
74506,937,NaN,25.4,14.8,10.6,52.9,86.6,2.6,6.1,0.0,258.487654,19.042591,15,101,0,0
74507,937,NaN,25.4,14.8,10.6,52.9,86.6,2.6,6.1,0.0,258.487654,19.042591,15,101,0,5
74508,937,NaN,25.4,14.8,10.6,52.9,86.6,2.6,6.1,0.0,258.487654,19.042591,15,101,2,11
74509,937,NaN,25.4,14.8,10.6,52.9,86.6,2.6,6.1,0.0,258.487654,19.042591,15,112,0,5

In [195]:
X = merged_df.drop(columns=['cat119_train.call_count'])  # 종속변수 제외

# 상수항 추가
X = add_constant(X)

# # VIF 계산
vif = pd.DataFrame()
vif["변수명"] = X.columns
vif["VIF값"] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]

print(vif)

C:\Users\asia\AppData\Roaming\Python\Python312\site-packages\statsmodels\stats\outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)

                                 변수명        VIF값
0                              const  396.815491
1                   cat119_train.stn    1.237991
2               call119_train.ta_max         inf
3               call119_train.ta_min         inf
4           call119_train.ta_max_min         inf
5               call119_train.hm_min    9.976264
6               call119_train.hm_max    2.881422
7               call119_train.ws_max    5.568458
8           call119_train.ws_ins_max   26.953535
9               call119_train.rn_day    1.447534
10                      평균 일사량(W/m2)    3.423919
11                              WBGT  171.835752
12   cat119_train.address_gu_encoded    1.084757
13  cat119_train.sub_address_encoded    1.013944
14          cat119_train.cat_encoded    1.936948
15      cat119_train.sub_cat_encoded    1.992916

In [196]:
## 신고 건수 열을 맨 끝으로 이동

# 현재 열 리스트 불러오기
cols = merged_df.columns.tolist()

# 이동할 열
col_to_move = 'cat119_train.call_count'

# 해당 열을 제거하고 맨 뒤에 추가
cols.remove(col_to_move)
cols.append(col_to_move)

# 재정렬된 열 순서로 DataFrame 재구성
merged_df = merged_df[cols]
merged_df

,cat119_train.stn,call119_train.ta_max,call119_train.ta_min,call119_train.ta_max_min,call119_train.hm_min,call119_train.hm_max,call119_train.ws_max,call119_train.ws_ins_max,call119_train.rn_day,평균 일사량(W/m2),WBGT,cat119_train.address_gu_encoded,cat119_train.sub_address_encoded,cat119_train.cat_encoded,cat119_train.sub_cat_encoded,cat119_train.call_count
0,904,23.7,16.6,7.1,63.2,90.3,5.8,10.6,0.0,548.815359,17.851324,0,34,0,0,1.0
1,921,24.3,15.4,8.9,64.2,96.4,4.8,8.6,0.0,548.815359,18.873149,0,121,1,0,1.0
2,940,25.6,17.2,8.4,46.6,76.4,4.8,8.3,0.0,548.815359,18.753480,1,16,0,5,1.0
3,941,25.3,17.1,8.2,46.6,76.4,7.1,9.7,0.0,548.815359,17.865345,1,17,2,11,1.0
4,939,26.5,16.7,9.8,46.6,76.4,5.7,8.1,0.0,548.815359,19.042418,1,21,0,5,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74505,937,25.4,14.8,10.6,52.9,86.6,2.6,6.1,0.0,258.487654,19.042591,15,56,0,5,NaN
74506,937,25.4,14.8,10.6,52.9,86.6,2.6,6.1,0.0,258.487654,19.042591,15,101,0,0,NaN
74507,937,25.4,14.8,10.6,52.9,86.6,2.6,6.1,0.0,258.487654,19.042591,15,101,0,5,NaN
74508,937,25.4,14.8,10.6,52.9,86.6,2.6,6.1,0.0,258.487654,19.042591,15,101,2,11,NaN
74509,937,25.4,14.8,10.6,52.9,86.6,2.6,6.1,0.0,258.487654,19.042591,15,112,0,5,NaN

In [197]:
# 열 최종 정리(WBGT를 유도한 기온, 습도, 풍속 데이터 제거)

columns_to_drop = [
    "call119_train.ta_max",
    "call119_train.ta_min",
    "call119_train.ta_max_min",
    "call119_train.hm_min",
    'call119_train.hm_max',
    "call119_train.ws_max",
    'call119_train.ws_ins_max',
    '평균 일사량(W/m2)'
]

merged_df.drop(columns=columns_to_drop, inplace=True)
merged_df

C:\Users\asia\AppData\Local\Temp\ipykernel_7212\3653977633.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df.drop(columns=columns_to_drop, inplace=True)

,cat119_train.stn,call119_train.rn_day,WBGT,cat119_train.address_gu_encoded,cat119_train.sub_address_encoded,cat119_train.cat_encoded,cat119_train.sub_cat_encoded,cat119_train.call_count
0,904,0.0,17.851324,0,34,0,0,1.0
1,921,0.0,18.873149,0,121,1,0,1.0
2,940,0.0,18.753480,1,16,0,5,1.0
3,941,0.0,17.865345,1,17,2,11,1.0
4,939,0.0,19.042418,1,21,0,5,1.0
...,...,...,...,...,...,...,...,...
74505,937,0.0,19.042591,15,56,0,5,NaN
74506,937,0.0,19.042591,15,101,0,0,NaN
74507,937,0.0,19.042591,15,101,0,5,NaN
74508,937,0.0,19.042591,15,101,2,11,NaN
74509,937,0.0,19.042591,15,112,0,5,NaN

In [198]:
X2 = merged_df.drop(columns=['cat119_train.call_count'])  # 종속변수 제외

# 상수항 추가
X2 = add_constant(X2)

# # VIF 계산
vif = pd.DataFrame()
vif["변수명"] = X2.columns
vif["VIF값"] = [variance_inflation_factor(X2.values, i) for i in range(X2.shape[1])]

print(vif)

                                변수명       VIF값
0                             const  36.740081
1                  cat119_train.stn   1.073169
2              call119_train.rn_day   1.029603
3                              WBGT   1.007538
4   cat119_train.address_gu_encoded   1.072898
5  cat119_train.sub_address_encoded   1.011112
6          cat119_train.cat_encoded   1.934239
7      cat119_train.sub_cat_encoded   1.977850

In [199]:
# 열 이름 한글화화
merged_df.columns = ['AWS 정보', '강수량', 'WBGT', '지역구', '행정동', '신고대분류', '신고세부항목', '신고건수']
merged_df

       AWS 정보  강수량       WBGT  지역구  행정동  신고대분류  신고세부항목  신고건수
0         904  0.0  17.851324    0   34      0       0   1.0
1         921  0.0  18.873149    0  121      1       0   1.0
2         940  0.0  18.753480    1   16      0       5   1.0
3         941  0.0  17.865345    1   17      2      11   1.0
4         939  0.0  19.042418    1   21      0       5   1.0
...       ...  ...        ...  ...  ...    ...     ...   ...
74505     937  0.0  19.042591   15   56      0       5   NaN
74506     937  0.0  19.042591   15  101      0       0   NaN
74507     937  0.0  19.042591   15  101      0       5   NaN
74508     937  0.0  19.042591   15  101      2      11   NaN
74509     937  0.0  19.042591   15  112      0       5   NaN

[74510 rows x 8 columns]

In [200]:
merged_df.to_csv('WBGT_call119.csv')

In [201]:
merged_df.describe()

,AWS 정보,강수량,WBGT,지역구,행정동,신고대분류,신고세부항목,신고건수
count,74510.000000,74510.000000,74510.000000,74510.000000,74510.000000,74510.000000,74510.000000,61771.000000
mean,836.222131,10.015359,21.483168,7.333995,66.559831,0.441270,4.459817,1.331936
std,258.481386,31.017151,5.218857,4.560974,39.444089,0.753029,4.094443,1.288823
min,159.000000,0.000000,4.995428,0.000000,0.000000,0.000000,0.000000,1.000000
25%,923.000000,0.000000,17.594206,4.000000,32.000000,0.000000,0.000000,1.000000
50%,938.000000,0.000000,21.741197,7.000000,67.000000,0.000000,5.000000,1.000000
75%,941.000000,2.500000,25.645511,11.000000,101.000000,1.000000,5.000000,1.000000
max,950.000000,407.500000,33.925201,15.000000,135.000000,3.000000,22.000000,72.000000

# **Modeling**

In [202]:
X_train = merged_df.loc[0:61770].iloc[:, :-1]
y_train = merged_df.loc[0:61770].iloc[:, -1]

X_test = merged_df.loc[61771:].iloc[:,:-1] 
y_test = merged_df.loc[61771:].iloc[:,-1]

In [203]:
X_train

       AWS 정보  강수량       WBGT  지역구  행정동  신고대분류  신고세부항목
0         904  0.0  17.851324    0   34      0       0
1         921  0.0  18.873149    0  121      1       0
2         940  0.0  18.753480    1   16      0       5
3         941  0.0  17.865345    1   17      2      11
4         939  0.0  19.042418    1   21      0       5
...       ...  ...        ...  ...  ...    ...     ...
61766     937  0.0  14.832534   15   56      0       0
61767     937  0.0  14.832534   15   56      0       5
61768     940  0.0  15.602224   15   76      0       5
61769     937  0.0  14.832534   15   79      2      11
61770     937  0.0  14.832534   15  108      0       5

[61771 rows x 7 columns]

In [204]:
X_test

       AWS 정보  강수량       WBGT  지역구  행정동  신고대분류  신고세부항목
61771     904  0.0  10.926137    0   34      0       0
61772     904  0.0  10.926137    0   73      0       5
61773     937  0.0  11.454401    0   79      0       0
61774     950  0.0   9.556113    0   87      2      11
61775     940  0.0  11.745615    1   12      2       9
...       ...  ...        ...  ...  ...    ...     ...
74505     937  0.0  19.042591   15   56      0       5
74506     937  0.0  19.042591   15  101      0       0
74507     937  0.0  19.042591   15  101      0       5
74508     937  0.0  19.042591   15  101      2      11
74509     937  0.0  19.042591   15  112      0       5

[12739 rows x 7 columns]

In [205]:
y_train

0        1.0
1        1.0
2        1.0
3        1.0
4        1.0
        ...
61766    1.0
61767    1.0
61768    1.0
61769    1.0
61770    1.0
Name: 신고건수, Length: 61771, dtype: float64

In [206]:
y_test

61771   NaN
61772   NaN
61773   NaN
61774   NaN
61775   NaN
         ..
74505   NaN
74506   NaN
74507   NaN
74508   NaN
74509   NaN
Name: 신고건수, Length: 12739, dtype: float64

## RandomForest

In [207]:
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier

from sklearn.model_selection import GridSearchCV, train_test_split
from sklearn.metrics import mean_squared_error, make_scorer

In [208]:
# Random seed 설정
_RANDOM_SEED = 42

In [209]:
# 1. 랜덤포레스트 모델 생성
rf = RandomForestRegressor(_RANDOM_SEED)

# 2. 하이퍼파라미터 그리드 설정
param_grid = {
    'n_estimators': [100, 200, 300],
    'max_depth': [10, 20, 30, None],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4],
    'max_features': ['sqrt', 'log2'],
    'bootstrap': [True, False]
}

# 3. GridSearchCV 객체 생성
grid_search = GridSearchCV(
    estimator=rf,
    param_grid=param_grid,
    scoring='neg_root_mean_squared_error',  # RMSE를 기준으로 최적화
    cv=10,
    n_jobs=-1,
    verbose=2
)

# 4. 하이퍼파라미터 탐색 학습
grid_search.fit(X_train, y_train)

# 5. 최적 하이퍼파라미터와 점수 출력
print("Best parameters:", grid_search.best_params_)
print("Best RMSE (CV):", -grid_search.best_score_)

# 6. 최적 모델로 검증 세트 평가
best_rf = grid_search.best_estimator_
y_pred = best_rf.predict(X_test)
# rmse_val = np.sqrt(mean_squared_error(y_val, y_pred))
# print(f"Validation RMSE: {rmse_val:.4f}")

Fitting 10 folds for each of 432 candidates, totalling 4320 fits
Best parameters: {'bootstrap': True, 'max_depth': 10, 'max_features': 'log2', 'min_samples_leaf': 4, 'min_samples_split': 5, 'n_estimators': 200}
Best RMSE (CV): 0.99293011322514

In [212]:
y_pred_fixed = np.round(np.clip(y_pred, 0, None)).astype(int)
y_pred_fixed

array([1, 1, 1, ..., 2, 1, 1], shape=(12739,))

In [213]:
# 1. 데이터프레임으로 변환
df_pred = pd.DataFrame({'predicted': y_pred_fixed})

# 2. CSV로 저장
df_pred.to_csv('test_call119_pred.csv', index=False, encoding='utf-8-sig')