# **날씨 빅데이터 콘테스트**

## Data loading

In [2]:
import pandas as pd
import numpy as np

import os

### 기상데이터

In [8]:
data_call119 = pd.read_csv('call119_train.csv')
data_call119

,Unnamed: 0,call119_train.tm,call119_train.address_city,call119_train.address_gu,call119_train.sub_address,call119_train.stn,call119_train.ta_max,call119_train.ta_min,call119_train.ta_max_min,call119_train.hm_min,call119_train.hm_max,call119_train.ws_max,call119_train.ws_ins_max,call119_train.rn_day,call119_train.call_count
0,1,20200501,부산광역시,강서구,대저2동,904,23.7,16.6,7.1,63.2,90.3,5.8,10.6,0.0,1
1,2,20200501,부산광역시,강서구,천성동,921,24.3,15.4,8.9,64.2,96.4,4.8,8.6,0.0,1
2,3,20200501,부산광역시,금정구,금사동,940,25.6,17.2,8.4,46.6,76.4,4.8,8.3,0.0,1
3,4,20200501,부산광역시,금정구,금성동,941,25.3,17.1,8.2,-99.0,-99.0,7.1,9.7,0.0,1
4,5,20200501,부산광역시,금정구,남산동,939,26.5,16.7,9.8,-99.0,-99.0,5.7,8.1,0.0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42919,42920,20231031,부산광역시,해운대구,반송동,937,26.3,8.8,17.5,20.2,97.4,4.6,8.4,0.0,2
42920,42921,20231031,부산광역시,해운대구,반여동,937,26.3,8.8,17.5,20.2,97.4,4.6,8.4,0.0,2
42921,42922,20231031,부산광역시,해운대구,석대동,940,24.5,10.0,14.5,20.4,94.0,2.4,6.1,0.0,1
42922,42923,20231031,부산광역시,해운대구,송정동,937,26.3,8.8,17.5,20.2,97.4,4.6,8.4,0.0,1
42923,42924,20231031,부산광역시,해운대구,재송동,937,26.3,8.8,17.5,20.2,97.4,4.6,8.4,0.0,1

In [9]:
data_call119.head()

,Unnamed: 0,call119_train.tm,call119_train.address_city,call119_train.address_gu,call119_train.sub_address,call119_train.stn,call119_train.ta_max,call119_train.ta_min,call119_train.ta_max_min,call119_train.hm_min,call119_train.hm_max,call119_train.ws_max,call119_train.ws_ins_max,call119_train.rn_day,call119_train.call_count
0,1,20200501,부산광역시,강서구,대저2동,904,23.7,16.6,7.1,63.2,90.3,5.8,10.6,0.0,1
1,2,20200501,부산광역시,강서구,천성동,921,24.3,15.4,8.9,64.2,96.4,4.8,8.6,0.0,1
2,3,20200501,부산광역시,금정구,금사동,940,25.6,17.2,8.4,46.6,76.4,4.8,8.3,0.0,1
3,4,20200501,부산광역시,금정구,금성동,941,25.3,17.1,8.2,-99.0,-99.0,7.1,9.7,0.0,1
4,5,20200501,부산광역시,금정구,남산동,939,26.5,16.7,9.8,-99.0,-99.0,5.7,8.1,0.0,3

In [10]:
data_call119.tail()

,Unnamed: 0,call119_train.tm,call119_train.address_city,call119_train.address_gu,call119_train.sub_address,call119_train.stn,call119_train.ta_max,call119_train.ta_min,call119_train.ta_max_min,call119_train.hm_min,call119_train.hm_max,call119_train.ws_max,call119_train.ws_ins_max,call119_train.rn_day,call119_train.call_count
42919,42920,20231031,부산광역시,해운대구,반송동,937,26.3,8.8,17.5,20.2,97.4,4.6,8.4,0.0,2
42920,42921,20231031,부산광역시,해운대구,반여동,937,26.3,8.8,17.5,20.2,97.4,4.6,8.4,0.0,2
42921,42922,20231031,부산광역시,해운대구,석대동,940,24.5,10.0,14.5,20.4,94.0,2.4,6.1,0.0,1
42922,42923,20231031,부산광역시,해운대구,송정동,937,26.3,8.8,17.5,20.2,97.4,4.6,8.4,0.0,1
42923,42924,20231031,부산광역시,해운대구,재송동,937,26.3,8.8,17.5,20.2,97.4,4.6,8.4,0.0,1

In [12]:
data_call119.describe()

,Unnamed: 0,call119_train.tm,call119_train.stn,call119_train.ta_max,call119_train.ta_min,call119_train.ta_max_min,call119_train.hm_min,call119_train.hm_max,call119_train.ws_max,call119_train.ws_ins_max,call119_train.rn_day,call119_train.call_count
count,42924.000000,4.292400e+04,42924.000000,42924.000000,42924.000000,42924.000000,42924.000000,42924.000000,42924.000000,42924.000000,42924.000000,42924.000000
mean,21462.500000,2.021586e+07,816.492126,26.025443,18.431968,7.286723,45.600601,76.598558,4.422377,8.185700,8.280265,1.916760
std,12391.235814,1.100894e+04,278.509107,8.059514,8.093267,6.623270,43.425352,49.403930,6.343533,7.183937,27.216865,2.058855
min,1.000000,2.020050e+07,159.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,1.000000
25%,10731.750000,2.021051e+07,904.000000,23.600000,15.500000,5.500000,40.200000,83.300000,3.400000,6.100000,0.000000,1.000000
50%,21462.500000,2.021103e+07,938.000000,26.600000,19.500000,7.500000,56.500000,91.800000,4.200000,7.700000,0.000000,1.000000
75%,32193.250000,2.022103e+07,940.000000,29.400000,22.500000,9.600000,67.700000,96.700000,5.500000,9.900000,2.000000,2.000000
max,42924.000000,2.023103e+07,950.000000,37.600000,29.000000,23.000000,99.500000,100.000000,30.700000,37.800000,259.200000,115.000000

In [13]:
data_call119.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42924 entries, 0 to 42923
Data columns (total 15 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  42924 non-null  int64
 1   call119_train.tm            42924 non-null  int64
 2   call119_train.address_city  42924 non-null  object
 3   call119_train.address_gu    42924 non-null  object
 4   call119_train.sub_address   42924 non-null  object
 5   call119_train.stn           42924 non-null  int64
 6   call119_train.ta_max        42924 non-null  float64
 7   call119_train.ta_min        42924 non-null  float64
 8   call119_train.ta_max_min    42924 non-null  float64
 9   call119_train.hm_min        42924 non-null  float64
 10  call119_train.hm_max        42924 non-null  float64
 11  call119_train.ws_max        42924 non-null  float64
 12  call119_train.ws_ins_max    42924 non-null  float64
 13  call119_train.rn_day        42924 non-null  float64
 14  call119_train.call_count    42924 non-null  int64
dtypes: float64(8), int64(4), object(3)
memory usage: 4.9+ MB

In [14]:
data_call119.isna().sum()

Unnamed: 0                    0
call119_train.tm              0
call119_train.address_city    0
call119_train.address_gu      0
call119_train.sub_address     0
call119_train.stn             0
call119_train.ta_max          0
call119_train.ta_min          0
call119_train.ta_max_min      0
call119_train.hm_min          0
call119_train.hm_max          0
call119_train.ws_max          0
call119_train.ws_ins_max      0
call119_train.rn_day          0
call119_train.call_count      0
dtype: int64

In [16]:
set(data_call119['call119_train.address_city'])

{'부산광역시'}

In [30]:
set(data_call119['call119_train.address_gu'])

{'강서구',
 '금정구',
 '기장군',
 '남구',
 '동구',
 '동래구',
 '부산진구',
 '북구',
 '사상구',
 '사하구',
 '서구',
 '수영구',
 '연제구',
 '영도구',
 '중구',
 '해운대구'}

In [32]:
data_call119['call119_train.address_gu'].value_counts()

call119_train.address_gu
부산진구    4795
해운대구    3909
사하구     3600
금정구     3247
사상구     3229
강서구     3036
동래구     2899
북구      2678
남구      2509
기장군     2263
수영구     2190
서구      2028
영도구     1928
동구      1835
중구      1542
연제구     1236
Name: count, dtype: int64

In [33]:
set(data_call119['call119_train.sub_address'])

{'가야동',
 '감만동',
 '감전동',
 '감천동',
 '강동동',
 '개금동',
 '거제동',
 '광복동',
 '광안동',
 '괘법동',
 '괴정동',
 '구랑동',
 '구서동',
 '구평동',
 '구포동',
 '금곡동',
 '금사동',
 '금성동',
 '기장읍',
 '낙민동',
 '남부민동',
 '남산동',
 '남천동',
 '남포동',
 '남항동',
 '노포동',
 '녹산동',
 '눌차동',
 '다대동',
 '당감동',
 '당리동',
 '대교동',
 '대연동',
 '대저1동',
 '대저2동',
 '대창동',
 '대청동',
 '대평동',
 '대항동',
 '덕천동',
 '덕포동',
 '동광동',
 '동대신동',
 '동삼동',
 '동선동',
 '두구동',
 '만덕동',
 '망미동',
 '명륜동',
 '명장동',
 '명지동',
 '모라동',
 '문현동',
 '미음동',
 '민락동',
 '반송동',
 '반여동',
 '범방동',
 '범일동',
 '범전동',
 '범천동',
 '보수동',
 '복천동',
 '봉래동',
 '봉림동',
 '부곡동',
 '부민동',
 '부암동',
 '부용동',
 '부전동',
 '부평동',
 '사직동',
 '삼락동',
 '생곡동',
 '서대신동',
 '서동',
 '석대동',
 '선동',
 '성북동',
 '송정동',
 '수안동',
 '수영동',
 '수정동',
 '식만동',
 '신선동',
 '신창동',
 '신평동',
 '신호동',
 '아미동',
 '안락동',
 '암남동',
 '양정동',
 '엄궁동',
 '연산동',
 '연지동',
 '영선동',
 '영주동',
 '오륜동',
 '온천동',
 '용당동',
 '용호동',
 '우동',
 '우암동',
 '일광면',
 '일광읍',
 '장림동',
 '장안읍',
 '장전동',
 '재송동',
 '전포동',
 '정관면',
 '정관읍',
 '좌동',
 '좌천동',
 '주례동',
 '죽동동',
 '죽림동',
 '중동',
 '중앙동',
 '지사동',
 '창선동',
 '천성동',
 '철마면',
 '청룡동',
 '청학동',
 '초량동',
 '초읍동',
 '초장동',
 '충무동',
 '칠산동',
 '토성동',
 '하단동',
 '학장동',
 '화명동',
 '화전동',
 '회동동'}

In [34]:
data_call119['call119_train.sub_address'].value_counts()

call119_train.sub_address
연산동    730
송정동    704
우동     684
대연동    673
부전동    666
      ...
죽동동     25
식만동     21
죽림동     19
눌차동     17
정관면      3
Name: count, Length: 136, dtype: int64

In [19]:
set(data_call119['call119_train.rn_day'])

{-99.0,
 0.0,
 0.1,
 0.2,
 0.3,
 0.4,
 0.5,
 0.6,
 0.7,
 0.8,
 0.9,
 1.0,
 1.1,
 1.2,
 1.3,
 1.4,
 1.5,
 1.6,
 1.7,
 1.8,
 1.9,
 2.0,
 2.1,
 2.2,
 2.3,
 2.4,
 2.5,
 2.7,
 2.8,
 2.9,
 3.0,
 3.1,
 3.3,
 3.4,
 3.5,
 3.7,
 3.9,
 4.0,
 4.1,
 4.2,
 4.5,
 4.6,
 4.7,
 5.0,
 5.2,
 5.5,
 5.7,
 5.9,
 6.0,
 6.3,
 6.5,
 6.6,
 6.9,
 7.0,
 7.2,
 7.4,
 7.5,
 7.7,
 7.8,
 7.9,
 8.0,
 8.5,
 9.0,
 9.2,
 9.4,
 9.5,
 9.8,
 10.0,
 10.4,
 10.5,
 11.0,
 11.3,
 11.5,
 12.0,
 12.3,
 12.5,
 12.9,
 13.0,
 13.5,
 14.0,
 14.1,
 14.2,
 14.3,
 14.5,
 14.8,
 15.0,
 15.1,
 15.5,
 15.7,
 15.8,
 16.0,
 16.1,
 16.3,
 16.4,
 16.5,
 17.0,
 17.5,
 17.6,
 17.8,
 18.0,
 18.1,
 18.5,
 18.6,
 18.8,
 19.0,
 19.5,
 20.0,
 20.5,
 21.0,
 21.3,
 21.5,
 22.0,
 22.5,
 22.9,
 23.0,
 23.1,
 23.3,
 23.4,
 23.5,
 23.8,
 24.0,
 24.4,
 24.5,
 25.0,
 25.5,
 26.0,
 26.5,
 26.8,
 27.0,
 27.4,
 27.5,
 28.0,
 28.1,
 28.5,
 28.9,
 29.0,
 29.2,
 29.5,
 29.8,
 29.9,
 30.0,
 30.5,
 31.0,
 31.5,
 32.0,
 32.1,
 32.5,
 33.0,
 33.5,
 34.0,
 34.5,
 34.8,
 35.0,
 35.3,
 35.5,
 36.0,
 36.1,
 36.2,
 36.3,
 36.5,
 36.6,
 36.7,
 37.0,
 37.5,
 38.0,
 38.3,
 38.5,
 38.7,
 39.0,
 39.5,
 40.0,
 40.2,
 40.5,
 40.8,
 41.0,
 41.5,
 42.0,
 42.5,
 42.6,
 42.8,
 43.0,
 43.3,
 43.5,
 44.0,
 44.5,
 45.0,
 45.1,
 45.5,
 46.0,
 46.5,
 47.0,
 47.5,
 48.0,
 48.5,
 48.8,
 49.0,
 49.3,
 49.5,
 49.8,
 50.0,
 50.1,
 50.5,
 50.8,
 51.0,
 51.3,
 51.5,
 52.0,
 52.5,
 52.6,
 53.0,
 53.5,
 54.0,
 54.5,
 55.0,
 55.1,
 55.5,
 56.0,
 56.5,
 57.0,
 57.5,
 58.0,
 58.3,
 58.5,
 59.0,
 59.5,
 59.9,
 60.0,
 60.5,
 61.0,
 61.5,
 62.0,
 63.1,
 63.5,
 64.0,
 64.5,
 65.0,
 65.5,
 66.0,
 66.2,
 66.5,
 67.0,
 67.5,
 68.0,
 68.5,
 69.0,
 69.2,
 69.5,
 70.0,
 70.5,
 71.0,
 71.5,
 72.5,
 73.0,
 73.4,
 73.5,
 74.0,
 75.0,
 75.5,
 76.0,
 76.4,
 76.5,
 77.0,
 77.5,
 78.0,
 78.5,
 79.0,
 79.5,
 79.7,
 80.0,
 81.0,
 81.5,
 82.0,
 82.5,
 82.6,
 83.0,
 83.5,
 84.0,
 85.0,
 85.5,
 86.0,
 86.5,
 87.5,
 88.0,
 89.0,
 89.5,
 90.0,
 90.5,
 91.0,
 91.5,
 92.5,
 93.5,
 94.0,
 95.0,
 95.5,
 96.0,
 97.5,
 98.0,
 98.5,
 98.9,
 99.0,
 99.1,
 99.2,
 99.5,
 100.0,
 100.9,
 101.0,
 101.5,
 102.0,
 103.5,
 104.0,
 104.5,
 105.0,
 105.3,
 106.5,
 107.0,
 107.5,
 108.0,
 108.5,
 108.9,
 109.5,
 110.0,
 110.5,
 111.0,
 112.5,
 113.0,
 113.5,
 113.6,
 114.5,
 115.0,
 116.0,
 116.5,
 117.0,
 117.4,
 117.5,
 118.5,
 120.0,
 121.3,
 121.5,
 122.0,
 123.0,
 123.5,
 124.0,
 124.5,
 125.0,
 126.0,
 128.0,
 130.0,
 130.3,
 132.5,
 134.5,
 135.0,
 136.0,
 136.5,
 137.0,
 137.5,
 138.0,
 139.0,
 140.5,
 141.5,
 142.5,
 143.0,
 143.5,
 146.2,
 146.5,
 148.0,
 153.5,
 154.0,
 156.5,
 157.5,
 162.5,
 163.1,
 165.0,
 166.5,
 169.0,
 169.5,
 170.0,
 170.5,
 173.0,
 174.0,
 176.2,
 179.0,
 181.5,
 189.0,
 191.5,
 193.0,
 194.0,
 200.0,
 203.0,
 205.0,
 208.7,
 210.5,
 212.0,
 219.5,
 225.0,
 230.0,
 252.0,
 259.2}

In [21]:
set(data_call119['call119_train.call_count'])

{1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 34,
 35,
 36,
 38,
 42,
 43,
 54,
 58,
 67,
 74,
 87,
 89,
 105,
 115}

### 119 신고

In [6]:
data_cat119 = pd.read_csv('cat119_train.csv')
data_cat119

,Unnamed: 0,cat119_train.tm,cat119_train.address_city,cat119_train.address_gu,cat119_train.sub_address,cat119_train.cat,cat119_train.sub_cat,cat119_train.stn,cat119_train.call_count
0,1,20200501,부산광역시,강서구,대저2동,구급,교통사고,904,1
1,2,20200501,부산광역시,강서구,천성동,구조,교통사고,921,1
2,3,20200501,부산광역시,금정구,금사동,구급,부상,940,1
3,4,20200501,부산광역시,금정구,금성동,기타,업무운행,941,1
4,5,20200501,부산광역시,금정구,남산동,구급,부상,939,1
...,...,...,...,...,...,...,...,...,...
61766,61767,20231031,부산광역시,해운대구,반여동,구급,교통사고,937,1
61767,61768,20231031,부산광역시,해운대구,반여동,구급,부상,937,1
61768,61769,20231031,부산광역시,해운대구,석대동,구급,부상,940,1
61769,61770,20231031,부산광역시,해운대구,송정동,기타,업무운행,937,1
61770,61771,20231031,부산광역시,해운대구,재송동,구급,부상,937,1

In [22]:
data_cat119.head()

,Unnamed: 0,cat119_train.tm,cat119_train.address_city,cat119_train.address_gu,cat119_train.sub_address,cat119_train.cat,cat119_train.sub_cat,cat119_train.stn,cat119_train.call_count
0,1,20200501,부산광역시,강서구,대저2동,구급,교통사고,904,1
1,2,20200501,부산광역시,강서구,천성동,구조,교통사고,921,1
2,3,20200501,부산광역시,금정구,금사동,구급,부상,940,1
3,4,20200501,부산광역시,금정구,금성동,기타,업무운행,941,1
4,5,20200501,부산광역시,금정구,남산동,구급,부상,939,1

In [23]:
data_cat119.tail()

,Unnamed: 0,cat119_train.tm,cat119_train.address_city,cat119_train.address_gu,cat119_train.sub_address,cat119_train.cat,cat119_train.sub_cat,cat119_train.stn,cat119_train.call_count
61766,61767,20231031,부산광역시,해운대구,반여동,구급,교통사고,937,1
61767,61768,20231031,부산광역시,해운대구,반여동,구급,부상,937,1
61768,61769,20231031,부산광역시,해운대구,석대동,구급,부상,940,1
61769,61770,20231031,부산광역시,해운대구,송정동,기타,업무운행,937,1
61770,61771,20231031,부산광역시,해운대구,재송동,구급,부상,937,1

In [25]:
data_cat119.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61771 entries, 0 to 61770
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Unnamed: 0                 61771 non-null  int64
 1   cat119_train.tm            61771 non-null  int64
 2   cat119_train.address_city  61771 non-null  object
 3   cat119_train.address_gu    61771 non-null  object
 4   cat119_train.sub_address   61771 non-null  object
 5   cat119_train.cat           61771 non-null  object
 6   cat119_train.sub_cat       61771 non-null  object
 7   cat119_train.stn           61771 non-null  int64
 8   cat119_train.call_count    61771 non-null  int64
dtypes: int64(4), object(5)
memory usage: 4.2+ MB

In [26]:
data_cat119.describe()

,Unnamed: 0,cat119_train.tm,cat119_train.stn,cat119_train.call_count
count,61771.000000,6.177100e+04,61771.000000,61771.000000
mean,30886.000000,2.021578e+07,835.680934,1.331936
std,17831.896076,1.086659e+04,259.170544,1.288823
min,1.000000,2.020050e+07,159.000000,1.000000
25%,15443.500000,2.021052e+07,923.000000,1.000000
50%,30886.000000,2.021102e+07,938.000000,1.000000
75%,46328.500000,2.022102e+07,941.000000,1.000000
max,61771.000000,2.023103e+07,950.000000,72.000000

In [27]:
set(data_cat119['cat119_train.cat'])

{'구급', '구조', '기타', '화재'}

In [35]:
data_cat119['cat119_train.cat'].value_counts()

cat119_train.cat
구급    44141
기타     9741
구조     7811
화재       78
Name: count, dtype: int64

In [28]:
set(data_cat119['cat119_train.sub_cat'])

{'교통사고',
 '구급기타',
 '구급예약',
 '기타',
 '대민지원',
 '부상',
 '산불',
 '산사태',
 '산악사고',
 '상황출동',
 '수난사고',
 '업무운행',
 '예방경계',
 '자연재해',
 '지원출동(가옥정리)',
 '지원출동(급수)',
 '지원출동(기타)',
 '지원출동(재해)',
 '지원출동(전기)',
 '지원출동(풍수해)',
 '지원출동(환경)',
 '항공구조(수색구조)',
 '항공구조(항공사고)'}

In [29]:
data_cat119['cat119_train.sub_cat'].value_counts()

cat119_train.sub_cat
부상            23541
교통사고          18184
업무운행           7828
구급기타           5904
자연재해           2184
상황출동           1438
수난사고           1211
산악사고            920
대민지원            197
지원출동(풍수해)       130
산불               78
지원출동(기타)         54
지원출동(급수)         33
예방경계             25
지원출동(재해)         15
지원출동(전기)          7
산사태               6
구급예약              5
기타                4
지원출동(환경)          2
항공구조(수색구조)        2
지원출동(가옥정리)        2
항공구조(항공사고)        1
Name: count, dtype: int64

In [37]:
data_cat119['cat119_train.address_gu'].value_counts()

cat119_train.address_gu
부산진구    6936
해운대구    6515
사하구     5271
사상구     4334
금정구     4135
북구      4101
동래구     4051
남구      3829
강서구     3706
기장군     3536
수영구     3297
연제구     2794
동구      2665
영도구     2470
서구      2367
중구      1764
Name: count, dtype: int64

In [36]:
data_cat119['cat119_train.sub_address'].value_counts()

cat119_train.sub_address
연산동    2063
우동     1575
대연동    1404
광안동    1279
온천동    1167
       ...
죽동동      25
식만동      21
죽림동      20
눌차동      18
정관면       3
Name: count, Length: 136, dtype: int64

In [51]:
data_cat119_counts = (
    data_cat119
    .groupby(['cat119_train.address_gu', 'cat119_train.cat', 'cat119_train.sub_cat'])
    .size()
    .reset_index(name='count')
)
data_cat119_counts.sort_values(by='cat119_train.sub_cat', ascending=True, inplace=True)
data_cat119_counts

    cat119_train.address_gu cat119_train.cat cat119_train.sub_cat  count
0                       강서구               구급                 교통사고   1019
138                     사상구               구조                 교통사고    289
150                     사하구               구급                 교통사고   1226
23                      금정구               구조                 교통사고    280
216                     영도구               구조                 교통사고    100
..                      ...              ...                  ...    ...
193                     수영구               기타             지원출동(환경)      1
35                      금정구               기타             지원출동(환경)      1
249                    해운대구               구조           항공구조(수색구조)      1
27                      금정구               구조           항공구조(수색구조)      1
8                       강서구               구조           항공구조(항공사고)      1

[261 rows x 4 columns]

In [45]:
data_cat119.groupby(['cat119_train.cat', 'cat119_train.sub_cat']).size()

cat119_train.cat  cat119_train.sub_cat
구급                교통사고                    14691
                  구급기타                     5904
                  구급예약                        5
                  부상                      23541
구조                교통사고                     3493
                  산악사고                      920
                  수난사고                     1211
                  자연재해                     2184
                  항공구조(수색구조)                  2
                  항공구조(항공사고)                  1
기타                기타                          4
                  대민지원                      197
                  산사태                         6
                  상황출동                     1438
                  업무운행                     7828
                  예방경계                       25
                  지원출동(가옥정리)                  2
                  지원출동(급수)                   33
                  지원출동(기타)                   54
                  지원출동(재해)                   15
                  지원출동(전기)                    7
                  지원출동(풍수해)                 130
                  지원출동(환경)                    2
화재                산불                         78
dtype: int64